.about__title{
    font-family: "Inter";
    font-size: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    z-index: 1;   
    margin:0;
    max-width: 251px;
    position: relative;
    padding: 100px 0 0 80px;
    
    }
    