.card{
    width: 540px;
}
.card__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.card__title{
    margin: 0 0 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.card__footer{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.card__list-item{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.card__list-divider{
    border-bottom: 1px solid black;
    flex-grow: 1;
    }