
.footer__social-link{
    color:white;
    font-family:"Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.3s ease-in-out;
    gap: 10px;
    display: flex;
    margin-bottom: 16px;
    }