
.footer__copyright{
    position: absolute;
    bottom: 60px;
    left:0;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-left: 80px;
}