.footer__social-heading{
    margin-right: 10px;
    top: 8px;
    right: 80px;
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}