.form__button{
    display: block;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    border-radius: 4px;
    max-width: 385px;
    margin-bottom:  32px;
    height: 60px;
    transition: opacity 0.3s ease-in-out;
    background-color: #2f80ed;
    color: aliceblue;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}