.header{
    padding: 30px 80px 40px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image:url(../images/background_header.svg);
    background-size: cover;
    background-position: center;
    text-align:left;
    margin-bottom: 80px;
 }