.header__title{
   font-size: 60px;
   line-height: 70px;
   letter-spacing: -0.6px;
   font-weight: 500;
   font-family: "Inter";
   font-style: normal;
   max-width: 729px;
   margin: 183px 0 0;
   margin-bottom: 20px;
}