.nav__link{
    color: black;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
    transition:color 0.3s ease-in-out;
}