.reservation{
    padding: 100px 0 120px;
    background-color: #d9e7ff;
    background-image:url(../images/background_reservation.svg);
    background-size: cover;
    background-position: center;
}
.reservation__form{
    margin: 0 auto;
}
.reservation__title{
    margin: 0 0 80px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}